<article id="docs">
    <div id="doc-topbar">
        <span id="section-title">Introduction</span>
        <span class="oi oi-ellipses text-white" style="transform:rotate(90deg); left: 275px;"></span>
        <ul id="contents-dropdown">
            <li>Introduction</li>
            <li>Number Functions</li>
            <li>String Functions</li>
            <li>List Functions</li>
        </ul>
    </div>
    <article id="docs-body">
        TODO
    </article>

</article>


@code {

}
